* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.headline {
    margin: 15px;
    margin-left: 25px;
    padding: 20px;
}

.main {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.content {
    display: flex;
    gap: 35px;
    margin-top: 20px;
    justify-content: center;
}

body {
    margin: auto;
    min-width: 300px;
    background-color: whitesmoke;
}

.sign-up {
    border-left: 1px solid rgba(128, 128, 128, 0.151);
}

.inline-box {
    display: inline-block;
}

.pad-5 {
    padding-inline: 5px;
}

.pad-10 {
    padding-inline: 10px;
}

nav div a {
    padding: 10px;
    text-decoration: none;
    color: black;

}

nav div a:hover {
    transition: 0.5s;
    color: rgb(3, 3, 3);
    text-shadow: 3px 3px 5px rgba(0,0,0,0.32);
}

nav div i {
    font-size: 20px;
}

.badge-size {
    position: relative;
}

.badge {
    position: absolute;
    background-color: red;
    padding: 3px 6px;
    border-radius: 50px;
    top: -8px;
    right: -8px;
    color: white;
    font-size: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid gainsboro;
}

.cardCart {
    width: 440px;
    height: 200px;
    border-radius: 15px;
    margin: 15px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* Decoration Zone */
    background-color: white;
    box-shadow: 1px 0px 11px 4px rgba(0,0,0,0.16);
    
    
}
.bi-trash {
    color: #00DBB6;
    border: 1px solid #00DBB6;
    padding: 4px 8px;
    border-radius: 50%;
}

.bi-trash:hover {
    cursor: pointer;
    color: white;
    border: 1px solid #00DBB6;
    background-color: #00DBB6;
    padding: 4px 8px;
    border-radius: 50%;
    transition: 0.5s;
}

.cardPurchase {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;

}

main {
    margin: auto;
}

.item-center {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-card {
    width: 145px;
    height: 145px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2%;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    background: linear-gradient(34deg, rgba(32,95,176,1) 0%, rgba(52,141,255,1) 56%, rgba(152,207,255,1) 95%),url('./product.png');
    background-position: 50% 130%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}
.mini-card i {
    width: 25px;
    height: 25px;
    margin-top: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(32,95,176,1);
    background-color: white;
}

.bi-circle-fill {
    color: gainsboro;
    transition: 0.5ms;
}

.card-top p {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.mini-card p, .mini-card2 p {
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.mini-card p1, .mini-card2 p1 {
    color: rgb(250, 248, 248);
    font-weight: 300;
    font-size: 13px;
}

select {
    cursor: pointer;
    color: rgb(112, 112, 112);
    border: 1px solid gainsboro;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    width: 80px;
    border-radius: 8px;
    margin-left: 5px;
    padding-left: 10px;
}

option {
    padding: 20px;
}

.price {
    margin-top: 16px;
    font-family: 'Ubuntu';
    color: rgb(112, 112, 112);
}

.price p {
    font-size: 17px;
    font-weight: 500;
}

.mini-card2 {
    width: 145px;
    height: 145px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2%;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    background-image: linear-gradient(28deg, rgba(227,101,28,1) 0%, rgb(234, 192, 132) 66%, rgba(250,193,161,1) 90%),url("./product.png");
    background-position: 50% 130%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}

.card-main {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    flex-basis: 50%;
    box-shadow: 2px 5px 10px rgb(211, 211, 211);
    border-radius: 20px;
    padding: 30px;
}

.order {
    font-size: 25px;
    font-weight: bold;
}

.sub-total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 20px;
    padding-right: 20px;
    color: rgb(101, 101, 101);
}

.promo {
    width: 100%;
    padding: 20px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.promo i {
    font-size: 25px;
    color: #00DBB6;
}

.promo input[type=text] {
    width: 65%;
    height: 45px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
    color: rgb(94, 94, 94);
}

.promo button {
    width: 25%;
    height: 45px;
    color: #00DBB6;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    border: 2px solid #00DBB6;
    background-color: transparent;
}

.c-main-bottom {
    margin-top: 10px;
    padding: 10px;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.total h1 {
    color: #00DBB6;
}

.c-main-bottom button {
    width: 100%;
    height: 45px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #00DBB6;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 5px 10px rgb(211, 211, 211);
}

/* Responsive */
@media(max-width: 1000px){
    nav {
        justify-content: space-around; 
    }
}
@media(max-width: 800px){
    nav {
        justify-content: space-around; 
    }
}
@media(max-width: 600px){
    nav {
        flex-direction: column;
    }
}